*.pyc
*.swp
.coverage
*.hypothesis
.pytest_cache

*.root
*.pcm
*.d
*.so
*.bin

*.pdf
*.png
*.csv
*.bak

# LaTeX 
*tmp0*
*.aux
*.log
*.out
*.gnuplot
*.table

# output and executables
docs/examples/tutorial/*/output
# add new files from there manually
docs/examples/performance/*

# Sphinx
docs/build
docs/_build
# These files do not exist.
# Probably it was an error during initial release.
# docs/source/lena.*.rst
# docs/source/lena.rst
# docs/source/modules.rst
*.mo

.tox
dist/
build/
*.egg-info
